.todoGenerator {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoGenerator input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
  max-width: 700px;
}

.todoGenerator button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.todoGenerator button:hover {
  background-color: #0056b3;
}